*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

#HEA{
    padding-left: 250px;
}

#ls{
    gap: 10px;
}

#ls button{
    background-color: orange;
}

#bantext{
    position: absolute;
    bottom: 200px;
    left: 150px;
}

#bantext button{
    height: 40px;
    width: 130px;
    background-color: orange;
    border-color: orange;
    border-radius: 4px;
    margin-top: 13px;
}

#service .col-3{
    height: 150px;
    width: 200px;
}

#services .col-3 i{
    padding-left: 30px;
}

#service .row{
    margin-bottom: 200px;
    margin-left: 170px;
}

#service{
    background-color: rgb(232, 229, 229);
}

#key{
    width: 250px;
    height: 250px;
    border-radius: 120px;
    margin-bottom: 100px;
}

#picstext{
  padding-left: 200px;
}


#key0{
    width: 250px;
    height: 250px;
    border-radius: 120px;
margin-left: 250px;
}

#ft1{
    height: 300px;
}

#ft12{
    padding-top: 100px;
}